<!-- app.component.html -->
<div *ngIf="isLoading" class="loading" >
  <div class="c-loader"></div>
</div>
<div class="input-container" (paste)="onPaste($event)">
  <div class="card">
    <img *ngIf="selectedImage" [src]="selectedImage" alt="Imagem Selecionada" />
    <div class="row">
      <button (click)="triggerFileInput()">Selecionar Imagem</button>
      <input
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        #fileInput
        style="display: none"
      />
      <button (click)="downloadTxtFile()">Download script</button>
    </div>
  </div>
</div>
